body {
    background-image: url("https://images.pexels.com/photos/1005644/pexels-photo-1005644.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: 100vw 110vh;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serifs;
    font-size: 20px;
    color: white;
}

header {
    background-color: lightgray;
    color: black;
}

header h1, p {
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    text-align: center;
    margin-top: 5vh;
    align-self: center;
    background-color: black;
}

.container__figura form {
    display: flex;
    flex-direction: column;
}

.container__figura form input {
    width: 200px;
    align-self: center;
    margin: 10px auto;
}

.container__figura form button {
    width: 180px;
    align-self: center;
    margin: 5px;
    height: 25px;
    background-color: rgb(100, 202, 79);
    color: white;
}

p, label {
    font-size: 15px;
}
